<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>북적북적</title>
  
  <!-- 구글폰트 -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- 사이드바 아이콘 -->
  <link th:href="@{images/common/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{images/common/remixicon/remixicon.css}" rel="stylesheet">
  
  <!--부트스트랩 외부링크-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Main CSS File -->
  <link th:href="@{css/common/style.css}" rel="stylesheet">
  <link th:href="@{css/pay/paystyle.css}" rel="stylesheet">
  
  <!--달력 조회-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

</head>

<body>
	<div th:replace="/fragment/header :: header2"></div>
	<div th:replace="/fragment/sidebar :: sidebar2"></div>


  
  <!-- 사이드바 열었다 닫았다 하는거 -->
  <script th:src="@{js/common/main.js}"></script>
  <script th:src="@{js/pay/payjs.js}"></script>
  
  <!-- 테이블-->
  <main id="main" class="main">

     <div class="pagetitle">
       <h1>결제/환불 전체 조회</h1>
       <nav>
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="pay_list#">결제 완료</a></li>
           <li class="breadcrumb-item">환불 완료</li>
       <li class="breadcrumb-item">환불 진행</li>
     
         </ol>
       </nav>
     </div><!-- End Page Title -->

     <section class="section">
       <div class="row">
         <div class="col-lg-12">

           <div class="card">
             <div class="card-body">
       
          <!--     검색 카드-->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="padding-left: 4%;">검색 조건</h5>
          
              <nav>
                <ol class="breadcrumb" style="justify-content: center;">
                  <li class="breadcrumb-item" style="padding-top: 1%;"><a href="#">환불 진행 상태:</a></li>
              
              <!--결제 상태 드롭바-->
              <div class="dropdown-payStatus" style="padding-top: 0.5%;">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  선택
                </button>
                <ul class="dropdown-menu align-middle">
                  <li><a class="dropdown-item" href="#">환불 신청</a></li>
                  <li><a class="dropdown-item" href="#">환불 완료</a></li>
                  <li><a class="dropdown-item" href="#">환불 진행</a></li>
                </ul>
              </div>
              <!--결제 상태 드롭바 End-->
              
              
              <li class="breadcrumb-item" style="padding-left: 2%; padding-top: 1%;"><a href="#">기간별: </a></li>
              
              <!--달력-->
              <div class="custom-date-picker">
              <form autocomplete="off">
                  <div class="input-group input-daterange custom-date-picker">
                  <input type="text" class="form-control input1" placeholder="Start Date" readonly>
                  <input type="text" class="form-control input2" placeholder="End Date" readonly>
                  </div>
              </form>
              </div>

			  <li class="breadcrumb-item active" style="padding-left: 2%; padding-top: 1%;">고객키: </li>
                
              <div class="search-bar">
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              </div>
              <!-- End Search Bar -->
                
              <li class="breadcrumb-item active" style="padding-left: 2%; padding-top: 1%;">고객명: </li>
                
              <div class="search-bar">
              <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                   <button class="btn btn-outline-success" type="submit">Search</button>
               </form>
               </div>
               <!-- End Search Bar -->
              
                </ol>
              </nav>
            </div>
          </div>
          
		  <!--테이블-->
          <table class="table datatable">
          <thead>
			
          <tr>
          <th><b>고객키</b></th>
          <th>고객명</th>
          <th>환불 상태</th>
          <th>결제 구분</th>
          <th>환불 신청 금액</th>
          <th>요청일자</th>
          <th>처리일</th>
          <th>결제 번호</th>
          </tr>
		  
          </thead>
          <tbody>
			
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 완료</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td>2024-10-22</td>
          <td>318564631345</td>
          </tr>
		  
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 완료</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td>2024-10-22</td>
          <td>318564631345</td>
          </tr>
                    
		  <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 완료</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td>2024-10-22</td>
          <td>318564631345</td>
          </tr>
		  
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 신청</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td><button type="button" class="btn btn-danger">결제 취소</button></td>
          <td>318564631345</td>
          </tr>
		  
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 신청</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td><button type="button" class="btn btn-danger">결제 취소</button></td>
          <td>318564631345</td>
          </tr>
		  
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 신청</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td><button type="button" class="btn btn-danger">결제 취소</button></td>
          <td>318564631345</td>
          </tr>
		   
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 완료</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td>2024-10-22</td>
          <td>318564631345</td>
          </tr>
		  
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 진행</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td>2024-10-22</td>
          <td>318564631345</td>
          </tr>
		  
          <tr>
          <td>1</td>
          <td>김길동</td>
          <td>환불 진행</td>
          <td>신용카드</td>
          <td>32,000원</td>
          <td>2024-10-22</td>
          <td>2024-10-22</td>
          <td>318564631345</td>
          </tr>
		  
          </tbody>
		  
          </table>
          <!-- 테이블 끝 -->

        </div>
        </div>

        </div>
       </div>
   </section>
</main><!-- End #main -->
  <!-- 테이블 끝-->

  
  
  
<script>
  document.querySelectorAll('.dropdown-item').forEach((item) => {
    item.addEventListener('click', function (e) {
      e.preventDefault();
      // 드롭다운 토글 버튼의 텍스트를 클릭된 항목의 텍스트로 변경
      document.querySelector('.dropdown-toggle').textContent = this.textContent;
    });
  });
</script>

  
</body>

</html>