
<!-- ======= 사이드바 ======= -->

<aside id="sidebar" class="sidebar" th:fragment="sidebar2">

	<ul class="sidebar-nav" id="sidebar-nav">

	    <!-- 통계관리 -->
	    <li class="nav-item">
	        <a class="nav-link collapsed" data-bs-target="#stats-nav" data-bs-toggle="collapse">
	            <i class="ri-dashboard-fill"></i>
	            <span>통계관리</span><i class="ri-arrow-down-s-fill ms-auto"></i>
	        </a>
	        <ul id="stats-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
	            <li>
	                <a href="/admin/revenueStatic">
	                    <i class="ri-checkbox-blank-circle-fill"></i><span>매출 분석</span>
	                </a>
	            </li>
	            <li>
	                <a href="/admin/customerStatic">
	                    <i class="ri-checkbox-blank-circle-fill"></i><span>고객 분석</span>
	                </a>
	            </li>
	            <li>
	                <a href="/admin/returnDelayStatic">
	                    <i class="ri-checkbox-blank-circle-fill"></i><span>반납지연 분석</span>
	                </a>
	            </li>
	            <li>
	                <a href="/admin/bookStatic">
	                    <i class="ri-checkbox-blank-circle-fill"></i><span>대여책 분석</span>
	                </a>
	            </li>
	        </ul>
	    </li>
		
  <!--통계관리 끝-->
  
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
        <i class="ri-contacts-fill"></i><span>고객관리</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/user/user_list">
            <i class="ri-checkbox-blank-circle-fill"></i><span>고객목록</span>
          </a>
        </li>
      </ul>
    </li><!-- 고객목록 끝 -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse">
        <i class="ri-treasure-map-fill"></i><span>지점관리</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/store/store_list">
            <i class="ri-checkbox-blank-circle-fill"></i><span>지점목록</span>
          </a>
        </li>
       </ul>
    </li><!-- 지점목록 끝 -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse">
        <i class="ri-book-2-fill"></i><span>도서관리</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/books">
            <i class="ri-checkbox-blank-circle-fill"></i><span>전체/지점별 도서 조회</span>
          </a>
        </li>
        <li>
          <a href="/admin/rent">
            <i class="ri-checkbox-blank-circle-fill"></i><span>대여/연체 관리</span>
          </a>
        </li>
      </ul>
    </li><!-- 도서관리 끝 -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse">
        <i class="ri-star-smile-fill"></i><span>이벤트/쿠폰/메세지</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/event">
            <i class="ri-checkbox-blank-circle-fill"></i><span>이벤트 관리</span>
          </a>
        </li>
        <li>
          <a href="/admin/notification">
            <i class="ri-checkbox-blank-circle-fill"></i><span>알림 메세지</span>
          </a>
        </li>
        <li>
          <a href="/admin/coupon">
            <i class="ri-checkbox-blank-circle-fill"></i><span>쿠폰 관리</span>
          </a>
        </li>
      </ul>
    </li><!-- 이벤트관리 끝 -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse">
        <i class="ri-bank-fill"></i><span>결제 관리</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/pay_list">
            <i class="ri-checkbox-blank-circle-fill"></i><span>결제/환불조회</span>
          </a>
        </li>
        <li>
          <a href="/admin/refund">
            <i class="ri-checkbox-blank-circle-fill"></i><span>환불 요청</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- 결제관리 끝 -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="ri-broadcast-fill"></i>
        <span>서버 모니터링</span>
      </a>
    </li>

  </ul>
  </aside><!-- 사이드바 끝-->