<!-- ======= 사이드바 ======= -->
<aside id="sidebar1" class="sidebar1" th:fragment="sidebar3">

  <ul class="sidebar1-nav" id="sidebar1-nav">

	<li class="nav-item1">
		<a class="nav-link1 collapsed" data-bs-target="#books-nav" data-bs-toggle="collapse" href="#">
	        <i class="ri-book-open-line"></i><span>도서 찾기</span>
	        <i class="ri-arrow-down-s-fill ms-auto"></i>
	      </a>
	      <ul id="books-nav" class="nav-content1 collapse " data-bs-parent="#sidebar1-nav">
	       <li>
	         <a href="#">
	           <i class="ri-checkbox-blank-circle-fill"></i><span>전체/지점별 찾기</span>
	         </a>
	       </li>
	    </ul>
	</li>
  <!--전체도서 끝-->

    <li class="nav-item1">
      <a class="nav-link1 collapsed" data-bs-target="#mypage-nav" data-bs-toggle="collapse" href="#">
        <i class="ri-account-circle-fill"></i><span>마이페이지</span>
        <i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="mypage-nav" class="nav-content1 collapse " data-bs-parent="#sidebar1-nav">
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>내정보</span>
          </a>
        </li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>대여목록</span>
		  </a>
		</li>
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>충전/결제내역</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>쿠폰 관리</span>
          </a>
        </li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>1:1문의</span>
		  </a>
		</li>
      </ul>
    </li><!-- 마이페이지 끝 -->

    <li class="nav-item1">
      <a class="nav-link1 collapsed" href="#">
        <i class="ri-gift-fill"></i>
        <span>이벤트</span>
      </a>
    </li>

  </ul>
  </aside><!-- 사이드바 끝-->
