.main-container {
    margin-top: 70px;
    margin-left: 300px;
    padding: 20px;
}

.select-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

tr>th {
    text-align: center;
}

li, button, th, td {
    font-size: 12px;
}

.select-bar button, .select-bar input, .select-bar span{
    font-size: 12px;
}

#search-button {
    margin-left: 10px;
}
