<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login/joinPhone.css}" />
</head>
<body>
<div id="container" class="container">
    <div class="form-wrapper">
        <div class="form">
            <div class="input-group headerTitle">
                <h3 class="header-phoneValidate">전화번호 인증</h3>
                <p class="header-phoneValidate example">(전화번호 인증해야 페이지 사용할 수 있습니다.)</p>
            </div>

            <!-- 전화번호 입력 -->
            <div class="input-group">
                <i class="bx bx-phone"></i>
                <input id="join-userPhone" name="userPhone" type="text"
                       placeholder="전화번호 (ex. 010-1111-1111)" required />
                <div class="phoneValidate">
                    <button id="validate-button" type="submit" onclick="validateSMS()" disabled>보내기</button>
                </div>
            </div>
            <!-- 인증번호 입력 -->
            <div class="input-group" id="input-validateNumber"></div>
            <!-- 남은 시간을 표시할 곳 -->
            <div class="timer"></div>
            <div id="error-message"></div>
            <button id="saveButton" type="button" onclick="saveUserPhone()" disabled> 저장하기 </button>
            <p><b onclick="location.href='/logout'" class="pointer">로그아웃</b></p>
        </div>
    </div>
</div>
<!-- jQuery 라이브러리 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/login/index.js}"></script>
<script th:src="@{/js/login/join.js}"></script>
<script th:src="@{/js/login/validateSMS.js}"></script>
<script th:src="@{/js/login/timer.js}"></script>


</body>
</html>
