<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login/style.css}" />
</head>
<body>
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- 회원가입란 -->
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <div class="form sign-up">
                    <form id="joinForm">

                        <!-- userId 입력란 -->
                        <div class="input-group">
                            <i class="bx bxs-user"></i>
                            <input id="join-userId" name="userId" type="text" placeholder="아이디 (5 ~ 15자 영문, 숫자 조합)" />
                        </div>

                        <!-- userPassword 입력란 -->
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input id="join-userPassword1" name="userPassword" type="password" placeholder="비밀번호 (8자 이상 영문, 숫자, 특수문자 조합)" />
                        </div>

                        <!-- userPassword 확인 입력란 -->
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input id="join-userPassword2" type="password" placeholder="비밀번호 확인" />
                        </div>

                        <!-- userName 입력란 -->
                        <div class="input-group">
                            <i class="bx bx-mail-send"></i>
                            <input id="join-userName" name="userName" type="text" placeholder="이름" />
                        </div>

                        <!-- userBirthday 입력란 -->
                        <div class="input-group">
                            <i class="bx bx-mail-send"></i>
                            <input id="join-userBirthday" name="userBirthday" type="text" placeholder="생년월일 (ex. 2000년 10월 10일)" />
                        </div>

                        <!-- userEmail 입력란 -->
                        <div class="input-group">
                            <i class="bx bx-mail-send"></i>
                            <input id="join-userEmail" name="userEmail" type="email" placeholder="이메일" />
                        </div>

                        <!-- userPhoneNumber 입력란 -->
                        <div class="input-group" id="input-userPhone">
                            <i class="bx bx-mail-send"></i>
                            <input id="join-userPhone" name="userPhone" type="text" placeholder="전화번호 (ex. 010-1111-1111)" />
                            <div class="phoneValidate">
                                <button id="validate-button" type="button" onclick="validateSMS()" disabled>보내기</button>
                            </div>
                        </div>
                        <!-- 인증번호 입력란 -->
                        <div class="input-group" id="input-validateNumber"></div>
                        <!-- 남은 시간을 표시할 곳 -->
                        <div class="timer"></div>
                        <div id="error-message"></div>

                        <!-- 약관동의 체크박스 -->
                        <div class="agree">
                            <div class="checkBox">
                                <input type="checkbox" name="accepted" id="join-agreeAll" value="true"/>
                                <label for="join-agreeAll"><b>전체 동의</b></label>
                            </div>
                            <div class="checkBox">
                                <input type="checkbox" class="agreeBox" id="join-agree1"/>
                                <label for="join-agree1">개인정보 동의</label>
                            </div>
                            <div class="checkBox">
                                <input type="checkbox" class="agreeBox" id="join-agree2"/>
                                <label for="join-agree2">제3자 정보 제공 동의</label>
                            </div>
                        </div>

                        <!-- 회원가입 버튼 -->
                        <button id="joinButton">회원가입</button>
                    </form>
                    <p>
                        <span> 이미 회원 인가요? </span>
                        <b onclick="toggle(); clearAllErrorMessages();" class="pointer"> 로그인 하기 </b>
                    </p>
                </div>
            </div>
        </div>
        <!-- 회원가입 end -->

        <!-- 로그인 -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">

                    <!-- 아이디 입력란 -->
                    <div class="input-group">
                        <i class="bx bxs-user"></i>
                        <input id="userId" type="text" placeholder="아이디" />
                    </div>

                    <!-- 비밀번호 입력란 -->
                    <div class="input-group">
                        <i class="bx bxs-lock-alt"></i>
                        <input id="userPassword" type="password" placeholder="비밀번호" />
                    </div>
                    <div id="login-error-message"></div>

                    <!-- 자동로그인 설정 체크박스 -->
                    <div class="checkBox">
                        <input type="checkbox" id="auto-login" name="rememberMe" value="true"/>
                        <label for="auto-login">자동 로그인</label>
                    </div>

                    <!-- 로그인 버튼 -->
                    <button id="loginButton">Sign in</button>

                    <p>
                        <a th:href="@{/login/find}"> 아이디 찾기 |  비밀번호 찾기 </a>
                    </p>

                    <p>
                        <span> 회원이 아니신가요? </span>
                        <b onclick="toggle()" class="pointer"> 회원가입 하기 </b>
                    </p>
                    <div class="social-login-list">
                        <button class="social-login" onclick="location.href='/oauth2/authorization/naver'" id="loginButton-google">naver</button>
                        <button class="social-login" onclick="location.href='/oauth2/authorization/google'" id="loginButton-naver">google</button>
                    </div>
                </div>
            </div>
            <div class="form-wrapper"></div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->

    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2>Welcome</h2>
            </div>
            <div class="img sign-in"></div>
        </div>
        <!-- END SIGN IN CONTENT -->
        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="img sign-up"></div>
            <div class="text sign-up">
                <h2>Join with us</h2>
            </div>
        </div>
        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>
<!-- jQuery 라이브러리 추가 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/login/index.js}"></script>
<script th:src="@{/js/login/login.js}"></script>
<script th:src="@{/js/login/join.js}"></script>
<script th:src="@{/js/login/validateSMS.js}"></script>
<script th:src="@{/js/login/timer.js}"></script>

</body>
</html>
